    .media-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }


   
    
    .play {
        color: white;
        height: 30px;
        width: 30px;
        font-size: 30px;
        box-sizing: content-box;
    }
    
    .play:hover {
        text-shadow: 0 0 5px #e60073, 0 0 10px #e60073, 0 0 15px #e60073;
    }
    
    .sideArrows {
        box-sizing: content-box;
        color: white;
        height: 30px !important;
        width: 30px !important;
        font-size: 30px !important;
    }
    
    .sideArrows:hover {
        text-shadow: 0 0 5px #e60073, 0 0 10px #e60073, 0 0 15px #e60073;
    }
    
    .media-footer .time-slider {
        left: 0;
        position: relative;
        width: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .controlPanel {
        float: right;
        
    }

    .controlPanelWrapper {
        display: inline-block;
        
        width: 50%;
        justify-content: center;
    }
    
    .mat-toolbar-row {
        border: 1px;
    }
    

    
    .mat-toolbar {
        
        background-color: rgb(10, 10, 10);
        color: white;
    }
    
    button {
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 40px;
        font-weight: 400;
        line-height: 1.5;
        border: 0;
        background-color: rgb(10, 10, 10);
        color: white;
    }
    
    .media-action-bar {
        height: 10vh;
        align-items: center;
    }

    .mat-slider {
        height: 10vh;
    }