nav {
    padding-top: 0;
    font-family: cursive;
    font-size: 1rem;
}

.signModeButton {
    padding: 0;
    margin-left: 24px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.active {
    text-shadow: 0 0 5px #fff, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073;
}

.navbar-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

input {
    /* background-color: rgb(10, 10, 10); */
    background-color: black;
    box-shadow: 0 0 5px #e60073;
    border: 0;
}

.container-fluid {
    /* max-width:50%; */
    min-width: 900px;
    /* max-height:500px;
min-height:21%;  */
    height: max-content;
    background-color: black;
    justify-content: start;
    height: 9vh;
    max-height: 9vh;
}

li {
    float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 5px 18px 5px 18px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Epidemic, sans-serif;
}

li a:hover {
    background-color: #111;
    color: white;
    cursor: pointer;
}

.navbar-header .neonText {
    font-size: 1.5rem;
}

.container {
    align-items: unset;
    padding: 0;
    margin: 0;
    max-width: none;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.backlight {
    width: 100%;
    height: 1px;
    box-shadow: 0px 0px 6px 1px #e60073, 0px 0px 12px #e60073, 0px 0px 18px #e60073, 0px 0px 24px #e60073, 0px 0px 30px #e60073;
    overflow: hidden;
}

.opacitySquare {
    width: 35vw;
    height: 30px;
    position: absolute;
    right: 0px;
    background-color: rgb(10, 10, 10);
    animation: squareBlink 5s linear infinite;
}


/* .blickSquare {
  width: 10rem;
  height: 1px;
  position: absolute;
  animation: dividerBlink 3.5s linear infinite;
  background-color: rgb(10,10,10);
  box-shadow: 0px 0px 3px 3px #e60073;
  overflow: hidden;

} */

.firstFlasher {
    color: #fff;
    animation: blink 3s linear infinite;
}

.neonText .secondFlasher {
    animation: secondBlink 3.5s linear infinite;
}

.neonText .thirdFlasher {
    animation: thirdBlink 2.7s linear infinite;
}

@keyframes squareBlink {
    from {
        opacity: 0;
    }
    5% {
        opacity: 0
    }
    6% {
        opacity: 1
    }
    7% {
        opacity: 0
    }
    8% {
        opacity: 0
    }
    9% {
        opacity: 1
    }
    10% {
        opacity: 0
    }
    /* 75% { opacity: 0}
    76% { opacity: 1}
    77% { opacity: 0 } */
    to {
        opacity: 0;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    5% {
        opacity: 1;
    }
    6% {
        opacity: 0;
    }
    7% {
        opacity: 1;
    }
    11% {
        opacity: 1;
    }
    12% {
        opacity: 0;
    }
    13% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes secondBlink {
    from {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    49% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
        opacity: 1;
        color: white;
    }
    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073;
        color: white;
    }
    70% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073;
        color: white;
    }
    71% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
        opacity: 1;
        color: white;
    }
    to {
        opacity: 1;
    }
}

@keyframes thirdBlink {
    from {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
    43% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}


/* #wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #e0efe3;
  }
  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
  }
  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
  } */


