<div class="container center">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div *ngIf="loading" class="centerPosition">
                <app-loading-spinner></app-loading-spinner>
            </div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!loading">
            
            <div *ngIf="signMode" class="form-group">
                <label for="userName" class="neonText">User name</label>
                <input 
                type="text"
                formControlName="userName"
                id="userName"
                class="form-control"
                >
                <div class="error" *ngIf="userName?.errors?.['required'] && (userName?.touched || userName?.dirty)">
                    User Name is required
                </div>
                
            </div>

            <div class="form-group">
                <label for="email" class="neonText">Email</label>
                <input
                 type="email"
                 formControlName="email"
                 id="name"
                 class="form-control">
                 <div class="error" *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty)">
                    Email is required
                </div>
                <div class="error" *ngIf="email?.errors?.['pattern'] && (email?.touched || email?.dirty)">
                    Email is incorrect
                </div>
            </div>
            
            <div class="form-group">
                <label for="password" class="neonText">Password</label>
                <input 
                type="password"
                formControlName="password"
                id="password"
                class="form-control">
                <div class="error" *ngIf="password?.errors?.['required'] && (password?.touched || password?.dirty)">
                    Password is required
                </div>
                <div class="error" *ngIf="password?.errors?.['minlength'] && (password?.touched || password?.dirty)">
                    Password should be min 7 characters
                </div>
                
            </div>

            <div *ngIf="signMode" class="form-group">
                <label for="confirmPassword" class="neonText">Confirm Password</label>
                <input type="password"
                formControlName="confirmPassword"
                id="confirmPassword"
                class="form-control">
                <div class="error" *ngIf="confirmPassword?.errors?.['confirmPassword'] && (confirmPassword?.touched || confirmPassword?.dirty)">
                    Field isn't equal to password
                </div>
            </div>

            <div class="bottomContent">
                <div>
                <button class="font"
                type="submit"
                [disabled]="!authForm.valid">Submit</button>
                </div>
               
                

            
            </div>

        </form>
    </div>
</div>
</div>