

.centerPosition {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.myContainer {
    background-color: rgb(10, 10, 10);
    height: 100%;
}

